.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  background-color: rgba(247, 241, 241, 0.646);
  cursor: pointer;
  width: 35vmin;
  height: auto;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  transition: 0.5s;
  margin: 5vh;
}

.content {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.card:hover {
  transition: 0.5s;
  transform: scale(1.05);
}

/* families: ["Roboto", "JetBrains Mono" ,"Product Sans" , "Droid Serif", "Droid Sans", "Chilanka"] */
.profile {
  width: 100%;
  height: auto;
  transition: 0.5s;
  flex-wrap: wrap;
}

.name {
  padding: 2vh 0 1vh 1vh;
  font: 500 20px JetBrains Mono;
  text-decoration: underline;
}

.description {
  padding: 2vh 0 1vh 1vh;
  font: 500 15px JetBrains Mono;
}

.techstackConponent {
  overflow: hidden;
  font: 300 2vh Product Sans;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 2vh;
}

.techstacks {
  margin: 1vh;
  padding: 0.8vh;
  border-radius: 20px;
  text-align: center;
}

.card:hover .profile {
  transition: 0.5s;
  transform: scale(1.1);
}

.buttons{
  overflow: hidden;
  font: 300 2vh Product Sans;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 1vh;
}
